*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contener{
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.toolbar{
  background-color: #515112;
}
.formStyle{
  border: 2px, black, solid;
}